
// Fonts
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);

// Variables
@import "variables";

// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

a{
	color: #46928F;
}

a.link-sidebar{
	color: #FF6600;	
}

h2, h3, h4, h5{
	color: #46B2AF;	
}

.btn-fav{
	background: none;
	border: none;
}

.not-fav{
	color:black;
}
.is-fav:hover{
	color:black;
}

.not-fav:hover{
	color:red;
}

.is-fav{
	color:red;
}

.navbar .nav > li > a, .navbar .nav > li > form {
	line-height: 25px;
}